body {
  min-height: 100vh;
  background: #f8637f;
  overflow-x: hidden;
}
.page-wrapper {
  max-width: 1200px;
  min-height: 100vh;
  margin-right: auto;
  margin-left: auto;
  background-size: 100% 100%;
  box-shadow: 0px 0px 25px 10px #ec516d;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 35px;
  line-height: 40px;
  color: #000000;
}
h2 {
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
h3 {
  font-size: 21px;
  line-height: 24px;
  color: #000000;
}
