.section-slide {
    &_carousel {
        min-width: 100%;
        height: 200px;

        &-item {
            height: 100%;
            width: 200px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}