.section-split {
    &_item {
        position: relative;
        height: 600px;
        overflow: hidden;

        img {
            max-height: 100%;
            max-width: 100%;
            width: 600px;
            height: 600px;
            object-fit: cover;
        }

        .content {
            position: absolute;
            z-index: 10;

            display: flex;
            flex-direction: column;

            &-box {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                height: 50px;
                margin-top: 14px;
                cursor: pointer;

                background: url('./assets/images/find-out-bg.png') no-repeat;
                background-size: 100% 100%;
            }
        }

        .main-image, .before-image, .before-image1 {
            position: absolute;
            top: 0;
        }
        .main-image {
            z-index: 9;
        }
        .before-image {
            z-index: 11;
            transition: 0.5s ease-in-out;
        }
        .before-image1 {
            z-index: 12;
            transition: 0.5s ease-in-out;
        }

        &.girl {
            .main-image {
                right: 0;
            }
            .before-image {
                right: 0;
            }
            .before-image1 {
                right: 100%;
                width: 600px;
            }
            .content {
                bottom: 155px;
                right: 30px;
                align-items: flex-end;
                text-align: right;
            }
        }
        &.pants {
            .main-image {
                left: 0;
            }
            .before-image {
                left: 0;
            }
            .before-image1 {
                left: 100%;
                width: 600px;
            }
            .content {
                bottom: 24px;
                left: 30px;
                align-items: flex-start;
            }
        }

        &.rabbit {
            img {
                width: 100%;
            }

            .content {
                bottom: 30px;
                right: 40px;
                align-items: flex-end;
                text-align: right;
            }
        }
    }
}