.section-tvc {
    min-height: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .trigger {
        position: absolute;
        top: 0;
    }
}