.section-find {
    min-height: 1600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .trigger-close {
        position: absolute;
        top: 200px;
        height: 40px;
        background: yellowgreen;
    }
}