<section class="section-slide">
    <div class="section-slide_carousel owl-carousel owl-carousel-slide owl-theme">
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-1.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-2.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-3.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-4.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-5.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-6.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-7.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-8.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-9.jpg') %>" alt="" />
        </div>
        <div class="section-slide_carousel-item">
            <img src="<%= require('./assets/images/slide-10.jpg') %>" alt="" />
        </div>
    </div>
</section>