<section class="section-split">
    <div class="container-fluid px-0">
        <div class="row mx-0">
            <div class="col-12 col-sm-6 px-0 section-split_item girl">
                <div class="main-image">
                    <img src="<%= require('./assets/images/split-1.png') %>" alt="" />
                </div>
                <div class="before-image girl-before">
                    <img src="<%= require('./assets/images/split-1-before.png') %>" alt="" />
                </div>
                <div class="before-image1 girl-before1">
                    <img src="<%= require('./assets/images/split-1-before.png') %>" alt="" />
                </div>
                <div class="content">
                    <div class="content-number">
                        <h1>41947</h1>
                    </div>
                    <div class="content-title">
                        <h3>กำไลข้อมือเมก้า<br>แพ็ค มิกกี้เมาส์<br>และผองเพื่อน</h3>
                    </div>
                    <a href="javascript:void(0)" class="content-box gallery-link" data-gallery_id="41947">
                        <h2>ดูข้อมูลเพิ่มเติม</h2>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 px-0 section-split_item pants">
                <div class="main-image">
                    <img src="<%= require('./assets/images/split-2.png') %>" alt="" />
                </div>
                <div class="before-image pants-before">
                    <img src="<%= require('./assets/images/split-2-before.png') %>" alt="" />
                </div>
                <div class="before-image1 pants-before1">
                    <img src="<%= require('./assets/images/split-2-before.png') %>" alt="" />
                </div>
                <div class="content">
                    <div class="content-number">
                        <h1>41963</h1>
                    </div>
                    <div class="content-title">
                        <h3>กำไลข้อมือสติทช์<br>ออน แพ็ค มิกกี้เมาส์<br>และมินนี่เมาส์</h3>
                    </div>
                    <a href="javascript:void(0)" class="content-box gallery-link" data-gallery_id="41963">
                        <h2>ดูข้อมูลเพิ่มเติม</h2>
                    </a>
                </div>
            </div>
            <div class="col-12 px-0 section-split_item rabbit">
                <div class="main-image">
                    <img src="<%= require('./assets/images/split-3.png') %>" alt="" />
                </div>
                <div class="content">
                    <div class="content-number">
                        <h1>41964</h1>
                    </div>
                    <div class="content-title">
                        <h3>กล่องแบ็ค ทู สคูล<br>มิกกี้เมาส์ และมินนี่เมาส์</h3>
                    </div>
                    <a href="javascript:void(0)" class="content-box gallery-link" data-gallery_id="41964">
                        <h2>ดูข้อมูลเพิ่มเติม</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>