<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./components/head.ejs %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.GA_MEASUREMENT_ID %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "<%= htmlWebpackPlugin.options.GA_MEASUREMENT_ID %>");
    </script>
  </head>

  <body class="loading">
    <div class="loader">
      <div class="loader1"></div>
    </div>
    <% include ./components/header.ejs %>
    <div class="page-wrapper">
      <% include ./components/section-tvc.ejs %>
      <% include ./components/section-split.ejs %>
      <% include ./components/section-slide.ejs %>
      <% include ./components/section-find.ejs %>
    </div>
    <% include ./components/footer.ejs %>
    <script>
      var GA_EVENT_CATEGORY = "<%= process.env.GA_EVENT_CATEGORY %>";
      var API_URL = "<%= htmlWebpackPlugin.options.API_URL %>";
    </script>
  </body>
</html>
