@import "~bootstrap/scss/bootstrap";
@import "~owl.carousel/dist/assets/owl.theme.default.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~animate.css/animate.css";
@import "assets/scss/index.scss";


/** Reset **/
body,
html {
  font-size: 16px;
  line-height: 1;
  font-family: sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
}

video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls-start-playback-button {
  -webkit-appearance: none;
  display: none;
}

/** Example SCSS, please review below code before start writing you css **/